.container{
    right: 0;
    top: 0;
    background-size: cover;
    margin: 0 auto;
    z-index: 1;
    position: static;
}
.content{
    background-color: aliceblue;
    right:  50px;
    top: 50px;
    position: absolute;
    z-index: 2;
    width: 1100px;
    height: 800px;
    text-align: right;
    font-size: large;
    padding-right: 10px;
    font-weight: bold;

}